* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.vid{
    margin-left: 100px;
    margin-top: 35px;
    position: absolute;
}

.the-game {
    display: block;
    margin: 10px auto;
    background-color: darkgrey;
}

.demo-title {
    position: absolute;
    width: 100%;
    background: #2e2f33;
    z-index: 2;
    padding: .7em 0;
}

.demo-title a {
    color: #fff;
    border-bottom: 1px dotted #a64ceb;
    text-decoration: none;
}

.demo-title p {
    color: #fff;
    text-align: center;
    text-transform: lowercase;
    font-size: 15px;
}

.demo-frame {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 25%%;
    left: 25%;
}

.demo-container {
    width: 100%;
    height: 530px;
    position: relative;
    background: #eee;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dg.ac {
    z-index: 100 !important;
    top: 50px !important;
}
